body{
    font-family:sans-serif;
}
.logo {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main h1{
    font-size: 25px;
}
@font-face {
font-family: "sans-serif";
src: url("microsoftsansserif.ttf") format("truetype");
font-style: normal; 
font-weight: normal; 
}
    
